<section class="login-page reset d-flex "> 
    <div class="col-md-12 p-0">
        <div class="form-sign d-flex flex-column justify-content-center align-items-center"> 
                    <h1>Recover your password
                        </h1>
                    <form class="form-group"> 
                        <div class="input-style">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <input type="email" class="form-control" placeholder="Your email address" />
                        </div> 
                        <button type="button">  Reset Password</button>
                        <div class="links-login d-flex justify-content-between">
                            <a href="">  Back To Login </a> 
                        </div>
                    </form>
                </div> 
        </div>  
</section> 