<nav class="navbar navbar-expand-lg navbar-light bg-light right">
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item profile"> 
                    <img src="../../assets/images/pho.png">
                    <p>Amr</p> 
            </li>
            <li>
                <i class="fa fa-globe" aria-hidden="true"></i>
            </li>
            <li>
                <i class="fa fa-sign-out" aria-hidden="true"></i>
             </li> 
        </ul> 
        <!-- <div class="group-right d-flex">
                <div class="icon-setting message-list">
                        <img src="../files/assets/images/icon-13.png" alt="logo.png">
                        <span>4</span>
                        <div class="list-menu-show message-list-box"> 
                                <div class="employee">
                                        <div class="item-employee">
                                            <div class="group-sch-tim d-flex"> 
                                            <div class="name">
                                                <h6>Amr Ahmed</h6>
                                                <p>Meetig with Project Manger</p>
                                            </div>
                                        </div>
                                        <div class="date-delete-sch">
                                                <div class="icons-sch"> 
                                                   <button class="deleto waves-effect waves-light roll"
                                                   data-toggle="modal" data-target="#sign-in" data-id="74">  <i class="fa fa-trash" aria-hidden="true"></i></button>
                                                </div>
                                                <div class="hours-sch">
                                                    <p>5:00 PM</p>
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-employee">
                                                <div class="group-sch-tim d-flex"> 
                                                <div class="name">
                                                    <h6>Amr Ahmed</h6>
                                                    <p>Meetig with Project Manger</p>
                                                </div>
                                            </div>
                                            <div class="date-delete-sch">
                                                    <div class="icons-sch"> 
                                                       <button class="deleto waves-effect waves-light roll"
                                                       data-toggle="modal" data-target="#sign-in" data-id="74">  <i class="fa fa-trash" aria-hidden="true"></i></button>
                                                    </div>
                                                    <div class="hours-sch">
                                                        <p>5:00 PM</p>
                                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-employee">
                                                    <div class="group-sch-tim d-flex"> 
                                                    <div class="name">
                                                        <h6>Amr Ahmed</h6>
                                                        <p>Meetig with Project Manger</p>
                                                    </div>
                                                </div>
                                                <div class="date-delete-sch">
                                                        <div class="icons-sch"> 
                                                           <button class="deleto waves-effect waves-light roll"
                                                           data-toggle="modal" data-target="#sign-in" data-id="74">  <i class="fa fa-trash" aria-hidden="true"></i></button>
                                                        </div>
                                                        <div class="hours-sch">
                                                            <p>5:00 PM</p>
                                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                </div>
    
                                    </div>
                                    </div>
                    </div>
            <div class="icon-setting">
                <div class="profile">
                <img src="../../assets/images/pho.png">
                <p>Amr</p>
                </div>
                <i class="fa fa-globe" aria-hidden="true"></i>
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </div>
        </div> -->
    </div>
</nav>