<section class="content">
    <div class="row icons">
        <div class="col-md-3 item d-flex justify-content-around">
            <div class="group-text d-flex flex-column align-items-center">
                <h4>User</h4>
                <p>20</p>
            </div>
            <img src="../../assets/images/user.svg">
        </div>
        <div class="col-md-3 item d-flex justify-content-around">
           <div class="group-text d-flex flex-column ">
                <h4>Suggestion</h4>
                <p>20</p>
            </div>
            <img src="../../assets/images/help.svg">
        </div>
        <div class="col-md-3 item d-flex justify-content-around">
           <div class="group-text d-flex flex-column ">
                <h4>Meeting</h4>
                <p>20</p>
            </div>
            <img src="../../assets/images/meeting-icon.png">
        </div>
        <div class="col-md-3 item d-flex justify-content-around">
           <div class="group-text d-flex flex-column ">
                <h4>Circulars</h4>
                <p>20</p>
            </div>
            <img src="../../assets/images/circulars-icons.png">
        </div>
        </div>
        <div class="table-review d-flex">
            <div class="col-md-6 item-table-r">
                <div class="table-new-r">
                    <div class="group d-flex justify-content-between">
                    <h3>News</h3>
                    <i class="fa fa-plus" aria-hidden="true"></i> 
                    </div>
                    <div class="section-news d-flex justify-content-between">
                        <div class="img-title d-flex"> 
                    <img src="../../assets/images/news.png">
                    <div class="title">
                        <h6>Lorem Ipsum is simply</h6>
                        <p>Contrary to popular belief …..</p>
                    </div>
                        </div>
                    <div class="tools">
                        <div class="icons">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                        <div class="time">
                             <p>10:00 PM</p>
                        </div>
                    </div>
                    </div>
                    <div class="section-news d-flex justify-content-between">
                        <div class="img-title d-flex"> 
                    <img src="../../assets/images/news.png">
                    <div class="title">
                        <h6>Lorem Ipsum is simply</h6>
                        <p>Contrary to popular belief …..</p>
                    </div>
                        </div>
                    <div class="tools">
                        <div class="icons">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                        <div class="time">
                             <p>10:00 PM</p>
                        </div>
                    </div>
                    </div>
                    <div class="section-news d-flex justify-content-between">
                        <div class="img-title d-flex"> 
                    <img src="../../assets/images/news.png">
                    <div class="title">
                        <h6>Lorem Ipsum is simply</h6>
                        <p>Contrary to popular belief …..</p>
                    </div>
                        </div>
                    <div class="tools">
                        <div class="icons">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                        <div class="time">
                             <p>10:00 PM</p>
                        </div>
                    </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-md-6 item-table-r">
                <div class="table-new-r">
                    <div class="group d-flex justify-content-between">
                    <h3>Activities</h3>
                    <i class="fa fa-plus" aria-hidden="true"></i> 
                    </div>
                    <div class="section-news d-flex justify-content-between">
                        <div class="img-title d-flex"> 
                    <img src="../../assets/images/news.png">
                    <div class="title">
                        <h6>Lorem Ipsum is simply</h6>
                        <p>Contrary to popular belief …..</p>
                    </div>
                        </div>
                    <div class="tools">
                        <div class="icons">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                        <div class="time">
                             <p>10:00 PM</p>
                        </div>
                    </div>
                    </div>
                    <div class="section-news d-flex justify-content-between">
                        <div class="img-title d-flex"> 
                    <img src="../../assets/images/news.png">
                    <div class="title">
                        <h6>Lorem Ipsum is simply</h6>
                        <p>Contrary to popular belief …..</p>
                    </div>
                        </div>
                    <div class="tools">
                        <div class="icons">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                        <div class="time">
                             <p>10:00 PM</p>
                        </div>
                    </div>
                    </div>
                    <div class="section-news d-flex justify-content-between">
                        <div class="img-title d-flex"> 
                    <img src="../../assets/images/news.png">
                    <div class="title">
                        <h6>Lorem Ipsum is simply</h6>
                        <p>Contrary to popular belief …..</p>
                    </div>
                        </div>
                    <div class="tools">
                        <div class="icons">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                        <div class="time">
                             <p>10:00 PM</p>
                        </div>
                    </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="table-review d-flex">
            <div class="col-md-6 item-table-r">
                <div class="table-new-r ">
                    <div class="group d-flex justify-content-between">
                    <h3>Suggestion</h3>
                    <i class="fa fa-plus" aria-hidden="true"></i> 
                    </div>
                    <div class="section-news d-flex justify-content-between">
                        <div class="suggestion img-title d-flex"> 
                    <img src="../../assets/images/pho.png">
                    <div class="title">
                        <h6>Amr Mohy</h6>
                        <p>Contrary to popular belief …..</p>
                    </div>
                        </div>
                    <div class="tools">
                        <div class="icons">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                        <div class="time">
                             <p>10:00 PM</p>
                        </div>
                    </div>
                    </div>
                    <div class="section-news d-flex justify-content-between">
                        <div class="suggestion img-title d-flex"> 
                    <img src="../../assets/images/pho.png">
                    <div class="title">
                        <h6>Amr Mohy</h6>
                        <p>Contrary to popular belief …..</p>
                    </div>
                        </div>
                    <div class="tools">
                        <div class="icons">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                        <div class="time">
                             <p>10:00 PM</p>
                        </div>
                    </div>
                    </div>
                    <div class="section-news d-flex justify-content-between">
                        <div class="suggestion img-title d-flex"> 
                    <img src="../../assets/images/pho.png">
                    <div class="title">
                        <h6>Amr Mohy</h6>
                        <p>Contrary to popular belief …..</p>
                    </div>
                        </div>
                    <div class="tools">
                        <div class="icons">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                        <div class="time">
                             <p>10:00 PM</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 item-table-r">
                <div class="table-new-r">
                    <div class="group d-flex justify-content-between">
                    <h3>Meeting</h3>
                    <i class="fa fa-plus" aria-hidden="true"></i> 
                    </div>
                    <div class="section-news d-flex justify-content-between">
                        <div class="img-title d-flex"> 
                            <div class="meeting-dashboard d-flex flex-column align-items-center">
                                <h4>12</h4>
                                <h5>FEB</h5>
                            </div> 
                    <div class="title">
                        <h6>Lorem Ipsum is simply</h6>
                        <p>Contrary to popular belief …..</p>
                    </div>
                        </div>
                    <div class="tools">
                        <div class="icons">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                        <div class="time">
                             <p>10:00 PM</p>
                        </div>
                    </div>
                    </div>
                    <div class="section-news d-flex justify-content-between">
                        <div class="img-title d-flex"> 
                            <div class="meeting-dashboard d-flex flex-column align-items-center">
                                <h4>12</h4>
                                <h5>FEB</h5>
                            </div> 
                    <div class="title">
                        <h6>Lorem Ipsum is simply</h6>
                        <p>Contrary to popular belief …..</p>
                    </div>
                        </div>
                    <div class="tools">
                        <div class="icons">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                        <div class="time">
                             <p>10:00 PM</p>
                        </div>
                    </div>
                    </div>
                    <div class="section-news d-flex justify-content-between">
                        <div class="img-title d-flex"> 
                            <div class="meeting-dashboard d-flex flex-column align-items-center">
                                <h4>12</h4>
                                <h5>FEB</h5>
                            </div> 
                    <div class="title">
                        <h6>Lorem Ipsum is simply</h6>
                        <p>Contrary to popular belief …..</p>
                    </div>
                        </div>
                    <div class="tools">
                        <div class="icons">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                        <div class="time">
                             <p>10:00 PM</p>
                        </div>
                    </div>
                    </div>
                 
                </div>
            </div>
        </div>
</section>