<section class="side-menu">
    <div class="logo">
        <img src="../../assets/images/logo.png">
    </div>
    <ul>
        <li class="active">
            <img src="../../assets/images/newspaper-folded.svg">
            <h2>Home Page</h2>
        </li>
        <li>
            <img src="../../assets/images/news.svg">
            <h2>News </h2>
        </li>
        <li>
            <img src="../../assets/images/news.svg">
            <h2>Activities </h2>
        </li>
        <li>
            <img src="../../assets/images/meeting.svg">
            <h2> Meeting</h2>
        </li>
        <li>
            <img src="../../assets/images/circulars.svg">
            <h2>Circulars </h2>
        </li>
        <li>
            <img src="../../assets/images/Conferences.svg">
            <h2> Conferences</h2>
        </li>
        <li>
            <img src="../../assets/images/support.svg">
            <h2> Suggestion</h2>
        </li>
        <li>
            <img src="../../assets/images/chat.svg">
            <h2> Chat</h2>
        </li>
        <li>
            <img src="../../assets/images/report.svg">
            <h2> Report</h2>
        </li>
        <li>
            <img src="../../assets/images/about-us.svg">
            <h2>About us </h2>
        </li>
        <li>
            <img src="../../assets/images/news.svg">
            <h2>N. Corporates </h2>
        </li>
        <li>
            <img src="../../assets/images/picture.svg">
            <h2> Ads</h2>
        </li>        
        <li>
            <img src="../../assets/images/member.svg">
            <h2> Member</h2>
        </li> 
    </ul>
</section>